
.env
backend/.env

backend/venv/
backend/__pycache__/
backend/**/__pycache__/
*.pyc


backend/chroma_data/

backend/uploads/*.pdf
backend/uploads/*.docx
backend/resume_screening.db


frontend/node_modules/
frontend/dist/